@import url("stlyles/header.css"); 
@import url("styles/banner.css");
:robot{
    --fonte-principal: "Poppins";
}

body{
    background-color: white;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}